extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5.mt-5

                img.img-fluid.img-thumbnail(src="img/nosotros.jpg", alt="Imagen Nosotros")
            .col-md-7
                h1.text-center #{pagina}
                p.text-justify Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                p.text-justify Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono de seguridad", class="img-fluid mb-4")
                    h2.mb-4 La mayor Seguridad
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type 
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono de seguridad", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Destinos de Mexico
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type 
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono de seguridad", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type  
                    h1 #{hola}






